$color-light-blue: #37b2db;
$color-light-blue-transparent-60: #37b2dbe6;
$color-purple: #ff00b3;
$color-light-purple: #ed53bf;
$color-green: #0db53f;
$color-light-green: #12de4f;
$color-white-transparent-80: #ffffffcc;
$color-white: #fff;
$color-black-transparent-30: #0000004d;
$color-black: #000000;
$color-grey: #adadad;
$color-light-grey: #f2f2f2;
$color-light-grey-2: #cccccc;

:export{
    error: $color-purple;
}
